

.media-list ul {
    display: flex;
}

#menu {
background-color: #1b1e21;
    list-style: none;
    color: #ac0909;

}

#menu li {
   margin: 3%;
}

#menu li:hover{
    font-weight: bold;
}

.video_episode{
    text-align: center;
    padding-bottom: 3%;

}
iframe{
    border: solid darkred 2px;
}
.video_summary{
    background-color: #1b1e21;
    color: whitesmoke;
    padding: 2%;
}

.video_summary div{
    padding: 2%;
}

#summary_saison{
    color: white;
}