

.media-list ul {
    display: flex;
}

#menu {
background-color: #1b1e21;
    list-style: none;
    color: #ac0909;

}

#menu li {
   margin: 3%;
}

#menu li:hover{
    font-weight: bold;
}

.video_episode{
    text-align: center;
    padding-bottom: 3%;

}
iframe{
    border: solid darkred 2px;
}
.video_summary{
    background-color: #1b1e21;
    color: whitesmoke;
    padding: 2%;
}

.video_summary div{
    padding: 2%;
}

#summary_saison{
    color: white;
}
.list_episode{
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-wrap: wrap;
    color: white;
}
.description{
    width: 300px;
    text-align: justify;
    color: white;

}

.history_title{
    display: flex;
    background-color: #1b1e21;
    color: white;
    justify-content: space-between;
    padding: 2%;

}

.history_title a{
    align-self: center;
    color: red;
}

.detail-history{
    display: flex;
    padding: 10px;
    justify-content: space-between;

}

.detail-history a{
    color: red;
}

.contenu_history{
    margin-top: 3%;
    width: 100%;
    background-color: #1b1e21;
    color: white;
}

